@font-face {
    font-family: Metropolis;
    font-weight: 700;
    src: url('/assets/fonts/Metropolis-bold.otf')
}

@font-face {
    font-family: Metropolis;
    font-weight: 400;
    src: url('/assets/fonts/Metropolis.otf')
}
